* {
  box-sizing: border-box;
}

main {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand";
}

.fonctionnement {
  padding: 0 15px;
}

header {
  text-align: center;
  box-shadow: 0px 2px 2px grey;
  margin: 0;
  padding: 5px;
  position: relative;
}

.belleville {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #ebebeb;
  text-align: center;
  padding: 8px;
}

.search {
  text-align: center;
  margin-top: -20px;
  padding-top: 14px;
  padding-bottom: 32px;
  background-color: #f6f6f6;
}
.search button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 16px 32px;
  border: none;
  border-radius: 30px;
  box-shadow: 2px 1px 6px -3px black;
}
.search button:hover {
  transform: scale(1.03);
}

.fonctionnement {
  counter-reset: steps;
  margin-bottom: 32px;
}
.fonctionnement ol {
  display: flex;
  gap: 24px;
}
@media (max-width: 980px) {
  .fonctionnement ol {
    flex-direction: column;
  }
}
.fonctionnement li {
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 18px 32px;
  flex-grow: 1;
  border: 1px solid #f6f6f6;
  border-radius: 15px;
  box-shadow: 2px 1px 6px -3px black;
  position: relative;
}
.fonctionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: -16px;
}
.fonctionnement li:hover {
  transform: scale(1.03);
  color: #9356DC;
}
.fonctionnement li i {
  margin-right: 15px;
}

.menu {
  background-color: #f6f6f6;
  padding-bottom: 100px;
  padding-left: 16px;
  padding-right: 16px;
}
.menu h2 {
  padding-top: 20px;
  padding-left: 20px;
}
.menu .menu-cards {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}
@media (max-width: 980px) {
  .menu .menu-cards {
    flex-direction: column;
  }
}
.menu .menu-cards .new {
  position: relative;
}
.menu .menu-cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 20px;
  width: 70px;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 10px;
  top: 10px;
}
.menu .card {
  border: 1px solid #f6f6f6;
  border-radius: 15px 15px 15px 15px;
  text-decoration: none;
  background-color: white;
  box-shadow: 2px 1px 6px -3px black;
}
.menu .card img {
  height: 250px;
  width: 600px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.menu .card .card-contents {
  color: black;
  margin-left: 10px;
  position: relative;
}
.menu .card .card-contents i {
  font-size: 24px;
  position: absolute;
  right: 16px;
  top: 0;
}

footer {
  background-color: #242526;
  color: white;
}
footer h3 {
  font-family: "Shrikhand";
  font-size: 24px;
  padding-left: 26px;
  padding-top: 16px;
  margin-top: -40px;
}
footer ul {
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map */
