@import "../utils/boxshadow.scss";
@import "../utils/zoomhover.scss";
@import "../utils/colors.scss";
.command{ 
    text-align: center;
    padding-top: 14px;
    padding-bottom: 56px;
    background-color: $grey;
    & .command_button{
        background-image: linear-gradient($pink, $purple);
        color: white;
        font-weight: bold;
        font-size: 16px;
        padding: 16px 48px;
        margin-top: 24px;
        border: none;
        border-radius: 30px;
        @include shadow;
        &:hover{
            @include zoomhover;
            opacity: 0.7;
            box-shadow: 4px 2px 10px -1px black;
        }
    }
}