@import "../utils/boxshadow.scss";
@import "../utils/zoomhover.scss";
@import "../utils/colors.scss";
.fonctionnement{
    counter-reset: steps;
    margin-bottom: 32px;
    & ol{
        display: flex;
        gap: 24px;
        @media (max-width: 966px){
            flex-direction: column;
        }
    }
    & li{
        list-style-type: none;
        background-color: $grey;
        padding: 18px 32px;
        flex-grow: 1;
        border: 1px solid $grey;
        border-radius: 15px;
        @include shadow;
        position: relative;
        &::before{
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: $purple;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            position: absolute;
            bottom: 10px;
            left: -16px;
        }
        &:hover{
            @include zoomhover;
            color: $purple;
        }
        & i{
            margin-right: 15px;
        }
    }
}