@import "../utils/colors.scss";
.belleville{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: $greyhard;
    text-align: center;
    padding: 8px;
}