@import "../utils/colors.scss";
@import "../utils/boxshadow.scss";

.menu{
    background-color: $grey;
    margin: 50px;
    h2{
        padding-top: 20px;
    }
    .menu-cards{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 32px;
        @media (max-width: 980px){
            flex-direction: column;
        }
        .new{
            position: relative;
        }
        .new::before{
            content: "Nouveau";
            position: absolute;
            height: 20px;
            width: 70px;
            background-color: $greenmint;
            color: darken($color: $greenmint, $amount: 50%);
            display: grid;
            place-items: center;
            right: 10px;
            top: 10px;
        }
    }
    .card{
        border: 1px solid $grey;
        border-radius: 15px 15px 15px 15px;
        text-decoration: none;
        background-color: white;
        @include shadow;
        & img{
            height: 250px;
            width: 500px;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }
        & .card-contents{
            color: black;
            margin-left: 10px;
            position: relative;
            & i{
                font-size: 24px;
                position: absolute;
                right: 16px;
                top: 0;
            }
        }
    }
}