@import "../utils/colors.scss";
@import "../utils/boxshadow.scss";

.menu{
    background-color: $grey; 
    padding-bottom: 100px;
    padding-left: 16px;
    padding-right: 16px;
    h2{
        padding-top: 20px;
        padding-left: 20px;
    }
    .menu-cards{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 32px;
        @media (min-width: 375px){
            flex-direction: column;
        }
        @media (min-width: 767px){
            flex-direction: row;
            justify-content: space-around;
        }
        .new{
            position: relative;
        }
        .new::before{
            content: "Nouveau";
            position: absolute;
            height: 20px;
            width: 70px;
            background-color: $greenmint;
            color: darken($color: $greenmint, $amount: 50%);
            display: grid;
            place-items: center;
            right: 10px;
            top: 10px;
        }
    }
    .card{
        border: 1px solid $grey;
        border-radius: 15px 15px 15px 15px;
        text-decoration: none;
        background-color: white;
        @include shadow;
        & img{
            height: 250px;
            width: 400px;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }
        & .card-contents{
            color: black;
            margin-left: 10px;
            position: relative;
            & .far{
                font-size: 24px;
                position: absolute;
                right: 16px;
                top: 0;
                background-color: transparent;
                color: black;
            }
            & .fas{
                font-size: 24px;
                position: absolute;
                right: 16px;
                top: 0;
                background-color: transparent;
                color: $pink;
                opacity: 0%;
                &:hover{
                    opacity: 100%;
                }
            }
        }
    }
}