@import "../utils/colors.scss";
@import "../utils/boxshadow.scss";

.menu{
    background-color: $grey;
    h2{
        padding-top: 20px;
    }
    .menu-cards{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 32px;
        @media (max-width: 980px){
            flex-direction: column;
        }
    }
    .card{
        border: 1px solid $grey;
        border-radius: 15px 15px 15px 15px;
        text-decoration: none;
        background-color: white;
        @include shadow;
        & img{
            height: 150px;
            width: 250px;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }
        & .card-contents{
            color: black;
        }
    }
}