@import "../utils/colors.scss";
footer{
    background-color: $lightblack;
    color: white;
    padding: 0 24px;
    margin-top: -40px;
    margin-bottom: -20px;
    i{
        font-size: 14px;
        margin-right: 10px;
    }
    h3{
        padding-top: 16px;
        padding-left: 2px;
        font-family: "Shrikhand", sans-serif;
        font-size: 24px;
    }
    a{
        text-decoration: none;
        color: white;
    }
}